* text=auto

*.php text
*.js text
*.ts text
*.vue text
*.css text
*.scss text
*.json text
*.md text
*.yml text
*.yaml text
*.xml text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
